@import '../node_modules/normalize.css/normalize.css';
:root {
  --dark-gray: #272727;
  --light-gray: #f2f2f2;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  text-decoration-line: none;
  color: var(--dark-gray);
  border-bottom: 1px dotted var(--dark-gray);
}
a :visited {
  color: var(--dark-gray);
}

ul, li {
  padding-inline-start: 0;
}

body {
  font-family: "Heebo", sans-serif;
  background-color: var(--dark-gray);
}
body .content {
  max-width: 1064px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media only screen and (min-width: 1064px) {
  body .content {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.hamburger .line {
  width: 25px;
  height: 4px;
  background-color: var(--dark-gray);
  display: block;
  margin: 4px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger.is-active .line:nth-child(1) {
  transform: translateY(8px);
}

#hamburger.is-active .line:nth-child(3) {
  transform: translateY(-8px);
}

@media only screen and (min-width: 800px) {
  .hamburger {
    display: none;
  }
}

.header {
  position: relative;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
  background-color: var(--light-gray);
}
.header__inner-wrapper {
  max-width: 1064px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: none;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}
@media only screen and (min-width: 1064px) {
  .header__inner-wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media only screen and (min-width: 800px) {
  .header__inner-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
.header__logo, .header__subheading {
  display: none;
}
@media only screen and (min-width: 800px) {
  .header__logo, .header__subheading {
    display: block;
  }
}
.header__name {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 1rem;
  justify-items: start;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
@media only screen and (min-width: 800px) {
  .header__name {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.header__heading {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 800;
}
@media only screen and (min-width: 800px) {
  .header__heading {
    font-size: 2rem;
  }
}
.header__subheading {
  margin: 0;
  font-size: 1.15rem;
}
.header__nav {
  display: none;
  transition: all 0.3s ease-in-out;
}
@media only screen and (min-width: 800px) {
  .header__nav {
    display: block;
  }
}
.header__nav.is-active {
  display: block;
}
.header__nav-list {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: none;
  gap: 2rem;
  margin-top: 0;
}
@media only screen and (min-width: 800px) {
  .header__nav-list {
    grid-template-columns: min-content min-content min-content min-content;
    grid-template-rows: none;
    justify-content: right;
  }
}
.header__nav-list-item {
  list-style-type: none;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.header__nav-list-item a {
  border-bottom: 0;
}
.header__nav-list-item a:active, .header__nav-list-item a:hover, .header__nav-list-item a:focus {
  border-bottom: 2px solid var(--dark-gray);
}

/*# sourceMappingURL=styles.css.map */
