:root {
  --dark-gray: #272727;
  --middle-gray: #333;
  --light-gray: #f2f2f2;
  --highlight: #f5d006;
  --light-blue: #0667ba;
  --dark-blue: #0F3D70;
}

body {
  position: relative;
  font-family: "Heebo", sans-serif;
  background-color: var(--dark-gray);
  margin: 0;
  color: var(--dark-gray);
}
body .reverse {
  color: #fff;
}

*, html, body {
  box-sizing: border-box;
}

main {
  position: relative;
  max-width: 1064px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 116px;
}
@media only screen and (min-width: 1064px) {
  main {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media only screen and (min-width: 800px) {
  main {
    margin-top: 0;
    margin-bottom: 4rem;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
}

p {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  padding-top: 1rem;
}

a {
  text-decoration-line: none;
  color: var(--dark-gray);
  border-bottom: 1px dashed var(--dark-gray);
}
.reverse a {
  color: #fff;
  border-bottom: 1px dashed #fff;
}

a.retro-link {
  text-decoration-line: none;
  color: var(--light-blue);
  border-bottom: 1px dashed var(--light-blue);
}
a.retro-link:hover {
  color: var(--dark-blue);
  border-bottom: 1px dashed var(--dark-blue);
}

ul, li {
  padding-inline-start: 0;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.heading_large {
  font-size: 1.75rem;
  margin-bottom: 0;
  font-weight: 600;
}
@media only screen and (min-width: 800px) {
  .heading_large {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
}

.heading_large_slim {
  font-size: 2rem;
  line-height: 1.7;
}

.heading_medium {
  font-size: 1.25rem;
  font-weight: 600;
}
@media only screen and (min-width: 800px) {
  .heading_medium {
    font-size: 1.5rem;
  }
}

.heading_small {
  font-size: 1.25rem;
  font-weight: 600;
}

.subtext {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 2.5rem;
}
@media only screen and (min-width: 800px) {
  .subtext {
    font-size: 1.5rem;
    line-height: 1.75;
    margin-bottom: 1.75rem;
  }
}

.all-caps {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 1.6px;
}

.center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.bold {
  font-weight: 600;
}

.extra-bold {
  font-weight: 900;
}

.blockquote {
  font-size: 1.5rem;
  text-align: center;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding: 5rem 0;
  line-height: 1.5;
}
@media only screen and (min-width: 800px) {
  .blockquote {
    font-size: 2.25rem;
  }
}
.blockquote:before {
  content: "";
  display: block;
  width: 96px;
  height: 5px;
  background-color: var(--highlight);
  margin: 0.5em auto;
}
.blockquote:after {
  content: "";
  display: block;
  width: 96px;
  height: 5px;
  background-color: var(--highlight);
  margin: 0.5em auto;
}

.text_16-20 {
  font-size: 1rem;
  line-height: 1.65;
}
@media only screen and (min-width: 800px) {
  .text_16-20 {
    font-size: 1.25rem;
  }
}

.text_20-24 {
  font-size: 1.25rem;
}
@media only screen and (min-width: 800px) {
  .text_20-24 {
    font-size: 1.5rem;
  }
}

.rte .heading_medium {
  display: block;
  margin-bottom: 0;
}
.rte .all-caps {
  margin-bottom: 0.75rem;
}

.remove-padding-top {
  padding-top: 0;
}

.remove-padding-bottom {
  padding-bottom: 0;
}

.remove-margin-top {
  margin-top: 0;
}

.remove-margin-bottom {
  margin-bottom: 0;
}

.padding-bottom_24-36 {
  padding-bottom: 1.5rem;
}
@media only screen and (min-width: 800px) {
  .padding-bottom_24-36 {
    padding-bottom: 2.25rem;
  }
}

.padding-bottom_24-48 {
  padding-bottom: 1.75rem;
}
@media only screen and (min-width: 800px) {
  .padding-bottom_24-48 {
    padding-bottom: 3rem;
  }
}

.padding-bottom_48-64 {
  padding-bottom: 3rem;
}
@media only screen and (min-width: 800px) {
  .padding-bottom_48-64 {
    padding-bottom: 4rem;
  }
}

.padding-top_48-64 {
  padding-top: 3rem;
}
@media only screen and (min-width: 800px) {
  .padding-top_48-64 {
    padding-top: 4rem;
  }
}

.container-padding {
  padding: 3rem 0;
}
@media only screen and (min-width: 800px) {
  .container-padding {
    padding: 7rem 0;
  }
}
.container-padding_collapse-bottom {
  padding: 3rem 0 0;
}
@media only screen and (min-width: 800px) {
  .container-padding_collapse-bottom {
    padding: 7rem 0 0;
  }
}
.container-padding_medium {
  padding: 3.5rem 0;
}
@media only screen and (min-width: 800px) {
  .container-padding_medium {
    padding: 4rem 0;
  }
}
.container-padding_slim {
  padding: 2rem 0;
}
@media only screen and (min-width: 800px) {
  .container-padding_slim {
    padding: 2.5rem 0;
  }
}

.default-ordered {
  max-width: 535px;
  margin-bottom: 0;
  padding-left: 0;
  font-size: 1rem;
  list-style-position: inside;
}
.default-ordered li:not(:last-child) {
  padding-bottom: 1.25rem;
}
.default-ordered li {
  line-height: 1.5;
}
@media only screen and (min-width: 800px) {
  .default-ordered {
    font-size: 1.25rem;
  }
  .default-ordered li {
    line-height: 1.7;
  }
}

.alphabet {
  list-style-type: lower-alpha;
  padding-left: 0;
  list-style-position: inside;
}
.alphabet li {
  margin-bottom: 0;
  line-height: 1.5;
}
@media only screen and (min-width: 800px) {
  .alphabet li {
    line-height: 1.7;
  }
}

.two-column-circles {
  list-style-type: none;
  counter-reset: item;
}
.two-column-circles > * {
  padding-left: 1rem;
}
@media only screen and (min-width: 800px) {
  .two-column-circles {
    display: grid;
    column-gap: 4rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
.two-column-circles li {
  counter-increment: item;
  position: relative;
}
.two-column-circles li > * {
  margin-bottom: 0.5rem;
}
.two-column-circles li:last-of-type :last-child {
  margin-bottom: 0;
}
.two-column-circles li:not(:last-child) {
  padding-bottom: 0.5rem;
}
.two-column-circles li:before {
  content: "";
  position: absolute;
  background: var(--dark-gray);
  border-radius: 100%;
  width: 2.5em;
  height: 2.5rem;
  text-align: center;
  left: -45px;
}
.two-column-circles li:after {
  content: counter(item);
  position: absolute;
  font-size: 1.5rem;
  color: #fff;
  top: 8px;
  left: -32px;
}

.single-column-circles {
  list-style-type: none;
  counter-reset: item;
}
.single-column-circles > * {
  padding-left: 1rem;
}
.single-column-circles li {
  counter-increment: item;
  position: relative;
}
.single-column-circles li:before {
  content: "";
  position: absolute;
  background: var(--dark-gray);
  border-radius: 100%;
  width: 2.5em;
  height: 2.5rem;
  text-align: center;
  left: -45px;
}
.single-column-circles li:after {
  content: counter(item);
  position: absolute;
  font-size: 1.5rem;
  color: #fff;
  top: 8px;
  left: -32px;
}

.hamburger .line {
  width: 25px;
  height: 4px;
  background-color: var(--dark-gray);
  display: block;
  margin: 4px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger.is-active .line:nth-child(1) {
  transform: translateY(8px);
}

#hamburger.is-active .line:nth-child(3) {
  transform: translateY(-8px);
}

.hamburger {
  border: 0;
}
@media only screen and (min-width: 800px) {
  .hamburger {
    display: none;
  }
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: var(--light-gray);
  top: 0;
}
@media only screen and (min-width: 800px) {
  .header {
    position: relative;
  }
}
.header__inner-wrapper {
  max-width: 1064px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: none;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}
@media only screen and (min-width: 1064px) {
  .header__inner-wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media only screen and (min-width: 800px) {
  .header__inner-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
.header__logo, .header__subheading {
  display: none;
}
@media only screen and (min-width: 800px) {
  .header__logo, .header__subheading {
    display: block;
  }
}
.header__name {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 1rem;
  justify-items: start;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
@media only screen and (min-width: 800px) {
  .header__name {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.header__heading {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 800;
}
@media only screen and (min-width: 800px) {
  .header__heading {
    font-size: 2rem;
  }
}
.header__heading a {
  border-bottom: 0;
}
.header__subheading {
  margin: 0;
  font-size: 1.15rem;
  font-weight: 400;
}
.header__nav {
  display: none;
  transition: all 0.3s ease-in-out;
  padding: 5rem;
}
@media only screen and (min-width: 800px) {
  .header__nav {
    display: block;
    padding: 0;
  }
}
.header__nav.is-active {
  display: block;
}
.header__nav-list {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: none;
  gap: 2rem;
  margin-top: 0;
  text-align: center;
}
@media only screen and (min-width: 800px) {
  .header__nav-list {
    grid-template-columns: min-content min-content min-content min-content;
    grid-template-rows: none;
    justify-content: right;
  }
}
.header__nav-list-item {
  list-style-type: none;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.header__nav-list-item a {
  border-bottom: 0;
}
.header__nav-list-item a:active, .header__nav-list-item a:hover, .header__nav-list-item a:focus {
  border-bottom: 3px solid var(--dark-gray);
}
.header__nav-list-item a.active {
  border-bottom: 3px solid var(--dark-gray);
}

.blurb {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.blurb__heading-wrapper {
  border-bottom: 5px solid var(--highlight);
  width: 65px;
}
@media only screen and (min-width: 800px) {
  .blurb__heading-wrapper {
    border-bottom: 0;
    border-right: 5px solid var(--highlight);
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
  }
}
.blurb__heading {
  font-size: 2rem;
  font-weight: 700;
  white-space: nowrap;
}
@media only screen and (min-width: 800px) {
  .blurb__heading {
    font-size: 3rem;
  }
}
.blurb__text {
  font-size: 1rem;
}
@media only screen and (min-width: 800px) {
  .blurb__text {
    max-width: 630px;
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 800px) {
  .blurb {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 3rem;
  }
}

.blurb-stacked {
  text-align: center;
  max-width: 45rem;
  margin: 0 auto;
  padding-bottom: 2rem;
}
@media only screen and (min-width: 800px) {
  .blurb-stacked {
    padding: 4rem 0 2.5rem;
  }
}
.blurb-stacked__heading {
  font-size: 2rem;
  font-weight: 500;
  white-space: nowrap;
}
@media only screen and (min-width: 800px) {
  .blurb-stacked__heading {
    font-size: 4rem;
  }
}
.blurb-stacked__subheading {
  position: relative;
  text-transform: uppercase;
  max-width: 40px;
  font-weight: 200;
  padding-bottom: 1rem;
  letter-spacing: 1.6px;
}
.blurb-stacked__subheading:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 5px;
  width: 40px;
  background-color: var(--highlight);
}
.blurb-stacked__text {
  font-weight: 300;
  padding-top: 1.75rem;
}
@media only screen and (min-width: 800px) {
  .blurb-stacked__text {
    font-size: 1.25rem;
  }
}

.cards {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  display: grid;
  gap: 1.5rem;
  grid-template-rows: 1fr;
}
@media only screen and (min-width: 800px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 4rem;
  }
}

.card {
  background-color: var(--middle-gray);
  border-radius: 8px;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.15);
  border: 2px solid transparent;
  display: grid;
  grid-template-rows: max-content;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 0 40px 0 rgba(245, 208, 6, 0.29);
  border: 2px solid #f5d006;
}
.card:hover .card__link {
  font-weight: 400;
  border-bottom: 3px solid #fff;
  margin-bottom: 0;
}
.card__category {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  border-bottom: 1px solid #4d4c4c;
  padding: 1rem 1.5rem 0.5rem;
  height: fit-content;
}
@media only screen and (min-width: 800px) {
  .card__category {
    padding: 1rem 3.5rem 0.5rem;
  }
}
.card__title {
  font-size: 1.5rem;
}
@media only screen and (min-width: 800px) {
  .card__title {
    font-size: 2.25rem;
  }
}
.card__text {
  padding: 0;
  font-size: 1.25rem;
}
.card__wrapper {
  padding: 1rem 1.5rem 2.5rem;
}
@media only screen and (min-width: 800px) {
  .card__wrapper {
    padding: 1rem 3.5rem 1.5rem;
  }
}
.card__link {
  font-weight: 200;
  display: inline-block;
  margin-bottom: 2px;
}
.card__icon {
  width: 80%;
  display: none;
  align-self: end;
  justify-self: right;
  padding: 0 2rem 2rem 0;
}
@media only screen and (min-width: 800px) {
  .card__icon {
    display: block;
  }
}

.footer {
  background: var(--light-gray);
  text-align: center;
  padding: 4rem 1rem;
}
@media only screen and (min-width: 800px) {
  .footer {
    padding: 4rem;
  }
}
.footer__heading {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.footer__email-link {
  font-size: 2rem;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 2rem;
  padding-bottom: 2px;
}
.footer__email-link:hover {
  border-bottom: 3px solid var(--dark-gray);
  padding-bottom: 0px;
}
.footer__social-list {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: none;
  gap: 1.5rem;
  justify-content: center;
}
@media only screen and (min-width: 800px) {
  .footer__social-list {
    grid-template-columns: min-content min-content min-content min-content;
    grid-template-rows: none;
    gap: 2rem;
  }
}
.footer__social-list-item {
  list-style-type: none;
}
.footer__social-link {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.25rem;
}
.footer__social-link:hover {
  border-bottom: 3px solid var(--dark-gray);
}

.circle-text {
  background-color: #fff;
  display: flex;
  flex-direction: column-reverse;
  gap: 3rem;
}
@media only screen and (min-width: 800px) {
  .circle-text {
    width: 100%;
    flex-direction: row;
    gap: 5rem;
  }
}
.circle-text h1.hwp, .circle-text h2.hwp, .circle-text h3.hwp, .circle-text h4.hwp, .circle-text h5.hwp, .circle-text h6.hwp {
  font-size: 2rem;
  margin-bottom: 0;
}
.circle-text p.hwp {
  font-size: 1.25rem;
  line-height: 1.7;
}
.circle-text__circle {
  max-width: 300px;
  margin: 0 auto;
  align-self: flex-start;
}
@media only screen and (min-width: 800px) {
  .container_gray .circle-text {
    max-width: 1064px;
    padding: 3rem 5rem;
  }
}

.button {
  border-bottom: 0;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1.25rem 2.5rem 1.15rem;
  margin-top: 0.5rem;
  background-color: var(--highlight);
  display: block;
  border-radius: 8px;
  text-align: center;
}
.button:hover {
  background: var(--dark-gray);
  color: #fff;
}
@media only screen and (min-width: 800px) {
  .button {
    display: inline-block;
  }
}

.about {
  margin-bottom: -5px;
}
.image-block {
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  line-height: 0;
}
@media only screen and (min-width: 800px) {
  .image-block {
    max-width: 1064px;
  }
}
.image-block img {
  width: 100%;
}

.img-breakout {
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
}
.img-breakout img {
  width: 100%;
}
@media only screen and (min-width: 800px) {
  .img-breakout {
    left: 0;
    transform: translate(0);
  }
}

.center-img {
  max-width: 80%;
  margin: 0 auto;
}

.container {
  background: #fff;
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 16px;
  padding-right: 16px;
}
.container_gray {
  background: var(--light-gray);
}
@media only screen and (min-width: 1064px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.container h1.hwp, .container h2.hwp, .container h3.hwp, .container h4.hwp, .container h5.hwp, .container h6.hwp {
  font-size: 2rem;
  margin-bottom: 0;
}
.container p.hwp {
  font-size: 1.25rem;
  line-height: 1.7;
}
@media only screen and (min-width: 800px) {
  .container {
    max-width: 1064px;
  }
}
.container_large {
  max-width: 940px;
  margin: 0 auto;
}
.container_medium {
  max-width: 750px;
  margin: 0 auto;
}
.container_slim {
  max-width: 650px;
  margin: 0 auto;
}

.fifty-fifty {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: none;
}
.fifty-fifty__stretched {
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (min-width: 800px) {
  .fifty-fifty {
    max-width: 1064px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.25rem;
    grid-template-rows: none;
  }
}

.action .fifty-fifty {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: none;
  padding-top: 4.5rem;
}
.action .fifty-fifty__stretched {
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (min-width: 800px) {
  .action .fifty-fifty {
    max-width: 1064px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.25rem;
    grid-template-rows: none;
  }
}
.action__heading {
  padding-top: 1rem;
  margin-bottom: 2.25rem;
}
@media only screen and (min-width: 800px) {
  .action__heading {
    padding-top: 0;
    margin-bottom: 0;
  }
}
.action__image {
  width: 100%;
  padding-bottom: 1.15rem;
}

.back-to-top {
  position: fixed;
  display: block;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  right: 2rem;
  bottom: 3rem;
  padding-left: 16px;
  padding-right: 16px;
}
@media only screen and (min-width: 1064px) {
  .back-to-top {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.back-to-top__button {
  border: 0;
  background-color: transparent;
}
.back-to-top.show {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
.back-to-top img {
  width: 52px;
}

/*# sourceMappingURL=styles.css.map */
