.back-to-top {
    position: fixed;
    display: block;
    opacity: 0;
    transition: opacity .5s ease-in;
    right: 0;
    bottom: 3rem;
    @include padding-mixin;

    @include mobile-break {
        right: 2rem;
    }
    
    &__button {
        border: 0;
        background-color: transparent;
    }
    &.show {
        opacity: 1;
        transition: opacity .5s ease-in;
    }

    img {
        width: 52px;
    }
}