.card {
    background-color: var(--middle-gray);
    border-radius: 8px;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.15);
    border: 2px solid transparent;

    &:hover {
        box-shadow: 0 0 40px 0 rgba(245, 208, 6, 0.29);
        border: 2px solid #f5d006;

        .card__link {
            font-weight: 400;
            border-bottom: 3px solid #fff;
        }
    }

    &__category {
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 1.6px;
        border-bottom: 1px solid #4d4c4c;
        padding: 1rem 1.5rem .5rem;

        @include mobile-break {
            padding: 1rem 3.5rem .5rem;
        }
    }

    &__title {
        font-size: 1.5rem;
        @include mobile-break {
            font-size: 2.25rem;
        }
    }

    &__text {
        padding: 0;
    }

    &__wrapper {
        padding: 1rem 1.5rem 2.5rem;
        
        @include mobile-break {
            padding: 1rem 3.5rem 2.5rem;
        }
    }

    &__link {
        font-weight: 200;
        display: inline-block;
    }

    &__icon-wrapper {
        display: none;
        padding: 0 2rem 2rem 0;
        justify-content: end;
        
        @include mobile-break {
            display: grid;
        }
    }


}