.circle-text {
    background-color: #fff;
    display: flex;
    flex-direction: column-reverse;
    gap: 3rem;
    
    @include mobile-break {
        width: 100%;
        flex-direction: row;
        gap: 5rem;
    }

    @include heading-with-paragraph;

    &__circle {
        max-width: 300px;
        margin: 0 auto;
        align-self: flex-start;
    }

    .container_gray & {
        @include mobile-break {
            max-width: $content-width;
            padding: 3rem 5rem;
        }
    }
}