.container {
    background: #fff;
    &_gray {
        background: var(--light-gray);
    }

    @include breakout;
    @include padding-mixin;
    @include heading-with-paragraph;

    @include mobile-break {
        max-width: $content-width;
    }
    &_large {
        max-width: 940px;
        margin: 0 auto;
    }
    &_medium {
        max-width: 750px;
        margin: 0 auto;
    }
    &_slim {
        max-width: 650px;
        margin: 0 auto;
    }
}


.fifty-fifty {
    @include fifty-fifty;
}