.container {
    background: #fff;
    padding-top: 3.5rem;
    @include breakout;
    @include padding-mixin;
    @include heading-with-paragraph;

    @include mobile-break {
        padding: 7rem 5rem;
        max-width: $content-width;
    }
    &_slim {
        max-width: 653px;
        margin: 0 auto;
    }
}