.footer {
    background: var(--light-gray);
    text-align: center;
    padding: 4rem 1rem;

    @include mobile-break {
    padding: 4rem;

    }

    &__heading {
        font-size: 2rem;
        margin-bottom: .5rem;
    }

    &__email-link {
        font-size: 2rem;
        font-weight: 400;
        display: inline-block;
        margin-bottom: 2rem;
        padding-bottom: 2px;

        &:hover {
            border-bottom: 3px solid var(--dark-gray);
            padding-bottom: 0px;
        }
    }

    &__social-list {

    }

    &__social-list-item {
        list-style-type: none;

        &:not(:last-child) {
            padding-bottom: 1.5rem;
        }

        @include mobile-break {
            display: inline-block;
            &:not(:last-child) {
                padding-right: 2rem;
            }
        }

    }

    &__social-link {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.25rem;
        border-bottom: none;
        &::after{
            content: '';
            border-bottom: 1px dashed var(--dark-gray);
            width: 100%;
            display: block;
        }
        &:hover {
            &::after{
                border-bottom: 3px solid var(--dark-gray);
            }
        }
        @include mobile-break {
            display: block;
        }
    }
}