.footer {
    background: var(--light-gray);
    text-align: center;
    padding: 4rem 1rem;

    @include mobile-break {
    padding: 4rem;

    }

    &__heading {
        font-size: 2rem;
        margin-bottom: .5rem;
    }

    &__email-link {
        font-size: 2rem;
        font-weight: 400;
        display: inline-block;
        margin-bottom: 2rem;
        padding-bottom: 2px;

        &:hover {
            border-bottom: 3px solid var(--dark-gray);
            padding-bottom: 0px;
        }
    }

    &__social-list {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: none;
        gap: 1.5rem;
        justify-content: center;

        @include mobile-break {
            grid-template-columns: min-content min-content min-content min-content;
            grid-template-rows: none;
            gap: 2rem;
        }
    }

    &__social-list-item {
        list-style-type: none;
    }

    &__social-link {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.25rem;
        
        &:hover {
            border-bottom: 3px solid var(--dark-gray);
        }
    }
}