.hamburger {
    border: 0;
    background-color: transparent;
    @include mobile-break {
        display: none;
    }

    .line {
        width: 25px;
        height: 4px;
        background-color: var(--dark-gray);
        display: block;
        margin: 4px auto;
        transition: all 0.3s ease-in-out;
    }

    &:hover{
        cursor: pointer;
    }
    
    &.is-active .line:nth-child(1){
        transform: translateY(8px);
    }

    &.is-active .line:nth-child(3){
        transform: translateY(-8px);
    }
}