@import '../hamburger.scss';

.header {
    position: relative;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    background-color: var(--light-gray);
    
    &__inner-wrapper {
        max-width: 1064px;
        margin: 0 auto;
        display: grid;
        grid-template-rows: min-content 1fr;
        grid-template-columns: none;
        align-items: center;

        @include padding-mixin;
        @include mobile-break {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: none;
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
    }

    &__logo, &__subheading {
        display: none;
        @include mobile-break {
            display: block;
        }
    }

    &__name {
        display: grid;
        grid-template-columns: min-content 1fr;
        align-items: center;
        gap: 1rem;
        justify-items: start;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        @include mobile-break {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    &__heading {
        margin: 0;
        font-size: 1.25rem;
        font-weight: 800;
        
        @include mobile-break {
            font-size: 2rem;
        }

        a {
            border-bottom: 0;
        }
    }

    &__subheading {
        margin: 0;
        font-size: 1.15rem;
        font-weight: 400;
    }

    &__nav {
        display: none;
        transition: all 0.3s ease-in-out;

        @include mobile-break {
            display: block;
        }
        &.is-active {
            display: block;
        }
    }

    &__nav-list {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: none;
        gap: 2rem;
        margin-top: 0;

        @include mobile-break {
            grid-template-columns: min-content min-content min-content min-content;
            grid-template-rows: none;
            justify-content: right;
        }
    }

    &__nav-list-item {
        list-style-type: none;
        font-weight: 700;
        font-size: 1.25rem;
        text-transform: uppercase;

        a {
            border-bottom: 0;
            &:active, &:hover, &:focus {
                border-bottom: 3px solid var(--dark-gray);
            }
            &.active {
                border-bottom: 3px solid var(--dark-gray);
            }
        }

    }
}