.image-block {
    @include breakout;
    line-height: 0;
    
    @include mobile-break {
        max-width: $content-width;
    }

    img {
        width: 100%;
    }
}

.img-breakout {
    @include breakout;

    img {
        width: 100%;
    }

    @include mobile-break {
        left: 0;
        transform: translate(0);
    }
}

.center-img {
    max-width: 80%;
    margin: 0 auto;
}