.default-ordered {
    max-width: 535px;
    margin-bottom: 0;
    padding-left: 1rem;
    font-size: 1rem;

    li:not(:last-child) {
        padding-bottom: 1.25rem;
    }

    @include mobile-break {
        font-size: 1.25rem;
    }
}