.default-ordered {
    max-width: 535px;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 1rem;
    font-weight: 300;
    list-style-position: inside;

    li:not(:last-child) {
        padding-bottom: 1.25rem;
    }

    li {
        line-height: 1.5;
    }

    @include mobile-break {
        font-size: 1.25rem;
        li {
            line-height: 1.7;
        }
    }

}

.alphabet {
    list-style-type: lower-alpha;
    padding-left: 0;
    list-style-position: inside;
    font-weight: 300;

    li {
        margin-bottom: 0;
        line-height: 1.5;
    }

    @include mobile-break {
        li {
            line-height: 1.7;
        }
    }
}

.two-column-circles {
    list-style-type: none;
    counter-reset: item;

    > * {
        padding-left: 1rem;
    }

    @include mobile-break {
        display: grid;
        column-gap: 4rem;
        grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    }

    li {
        counter-increment: item;
        position: relative;

        > * {
            margin-bottom: .5rem;
        }

        &:last-of-type {
            :last-child {
                margin-bottom: 0;
            }
        }

        &:not(:last-child) {
            padding-bottom: .5rem;
        }

        &:before {
            content:'';
            position: absolute;
            background: var(--dark-gray);
            border-radius: 100%;
            width: 2.5em;
            height: 2.5rem;
            text-align: center;
            left: -45px;
        }
        &:after {
            content: counter(item);
            position: absolute;
            font-size: 1.5rem;
            color: #fff;
            top: 8px;
            left: -32px;
        }
    }
}

.single-column-circles {
    list-style-type: none;
    counter-reset: item;

    > * {
        padding-left: 1rem;
    }

    li {
        counter-increment: item;
        position: relative;

        &:before {
            content:'';
            position: absolute;
            background: var(--dark-gray);
            border-radius: 100%;
            width: 2.5em;
            height: 2.5rem;
            text-align: center;
            left: -45px;
        }
        &:after {
            content: counter(item);
            position: absolute;
            font-size: 1.5rem;
            color: #fff;
            top: 8px;
            left: -32px;
        }
    }
}