@mixin padding-mixin {
    padding-left: 16px;
    padding-right: 16px;
    @media only screen and (min-width: $content-width) {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@mixin mobile-break {
    @media only screen and (min-width: $mobile-break) {
        @content;
    }
}

@mixin breakout {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
}

@mixin fifty-fifty {
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
    gap: 1.25rem;
    @include breakout;

    @include mobile-break {
        max-width: $content-width;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: none;
    }
}