.remove-padding-top {
    padding-top: 0;
}

.remove-padding-bottom {
    padding-bottom: 0;
}

.remove-margin-top {
    margin-top: 0;
}

.remove-margin-bottom {
    margin-bottom: 0;
}

.padding-bottom_24-36 {
    padding-bottom: 1.5rem;

    @include mobile-break {
        padding-bottom: 2.25rem;
    }
}

.padding-bottom_24-48 {
    padding-bottom: 1.75rem;

    @include mobile-break {
        padding-bottom: 3rem;
    }
}

.padding-bottom_48-64 {
    padding-bottom: 3rem;

    @include mobile-break {
        padding-bottom: 4rem;
    }
}

.padding-top_48-64 {
    padding-top: 3rem;

    @include mobile-break {
        padding-top: 4rem;
    }
}

.mobile-padding-top {
    padding-top: 3rem;

    @include mobile-break {
        padding-top: 0;
    }
}

.container-padding {
    padding: 3rem 0;

    @include mobile-break {
        padding: 7rem 0;
    }

    &_collapse-bottom {
        padding: 3rem 0 0;

        @include mobile-break {
            padding: 7rem 0 0;
        } 
    }

    &_medium {
        padding: 3.5rem 0;

        @include mobile-break {
            padding: 4rem 0;
        }
    }

    &_slim {
        padding: 2rem 0;

        @include mobile-break {
            padding: 2.5rem 0;
        }
    }
}