@import '../node_modules/normalize.css/normalize.css';
@import 'mixins';

// breakpoints
$content-width: 1064px;
$mobile-break: 800px;

:root {
    // colors
    --dark-gray: #272727;
    --middle-gray: #333;
    --light-gray: #f2f2f2;
    --highlight: #f5d006;
}

body {
    font-family: 'Heebo', sans-serif;
    background-color: var(--dark-gray);
    margin: 0;
    color: var(--dark-gray);
    .reverse {
        color: #fff;
    }
}

main {
    max-width: $content-width;
    margin: 0 auto;
    @include padding-mixin;
}

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
}

p {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
    padding-top: 1rem;
}

a {
    text-decoration-line: none;
    color: var(--dark-gray);
    border-bottom: 1px dashed var(--dark-gray);
    :visited {
        color: var(--dark-gray);
    }

    .reverse & {
        color: #fff;
        border-bottom: 1px dashed #fff;
        :visited {
            color: #fff;
        } 
    }
}

ul, li {
    padding-inline-start: 0;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    }

@import './components/header.scss';
@import './components/blurb.scss';
@import './components/cards.scss';
@import './components/card.scss';
@import './components/footer.scss';