@mixin heading-with-paragraph {
    h1, h2, h3, h4, h5, h6 {
        &.hwp {
            font-size: 2rem;
            margin-bottom: 0;
        }
    }

    p.hwp {
        font-size: 1.25rem;
        line-height: 1.7;
    } 
}

.heading_large {
    font-size: 1.75rem;
    margin-bottom: 0;
    &_center {
        text-align: center;
    }

    @include mobile-break {
        font-size: 2rem;
        margin-bottom: .5rem;
    }
}

.heading_small {
    font-size: 1.25rem;

    @include mobile-break {
        font-size: 1.5rem;
    }
}

.subtext {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 2.5rem;

    @include mobile-break {
        font-size: 1.5rem;
        line-height: 1.75;
        margin-bottom: 1.75rem;
    }
}

.callout {
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1.6px;
}

.center {
    text-align: center;
}

.blockquote {
    font-size: 1.5rem;
    text-align: center;
    
    @include mobile-break {
        font-size: 2.25rem;
    }
    &:before{
        content: "";
        display: block;
        width: 96px;
        height: 5px;
        background-color: var(--highlight);
        margin: 0.5em auto;
    }
    &:after {
        content: "";
        display: block;
        width: 96px;
        height: 5px;
        background-color: var(--highlight);
        margin: 0.5em auto;
    }
}

.text_16-20 {
    font-size: 1rem;
    @include mobile-break {
        font-size: 1.25rem;
    }
}

.text_20-24 {
    font-size: 1.25rem;
    @include mobile-break {
        font-size: 1.5rem;
    }
}

// padding and spacing

.remove-padding-top {
    padding-top: 0;
}

.remove-padding-bottom {
    padding-bottom: 0;
}

.remove-margin-top {
    margin-top: 0;
}

.remove-margin-bottom {
    margin-bottom: 0;
}

.padding-bottom_24-48 {
    padding-bottom: 1.75rem;

    @include mobile-break {
        padding-bottom: 3rem;
    }
}

.center-img {
    max-width: 80%;
    margin: 0 auto;
}